.body {
    background-image: url("../../src/images/bg.png"), url("../../src/images/bg-promo.png");
    background-position: top right, center bottom;
    background-repeat: no-repeat, no-repeat;
    // position: relative;
    
}