.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: $desktop-width) {
    .header {
        display: flex;
        flex-direction: column;
    }
}